@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --color-light-orange: oklch(0.7876 0.1534 77.11);
    --color-dark-orange: oklch(0.7009 0.1453 74.49);
    --color-light-blue: oklch(0.5543 0.2131 266.39);
    --color-dark-blue: oklch(0.4167 0.1288 261.52);
    --color-teal: oklch(0.8198 0.109 169.08);
    --color-charcoal: oklch(0.2873 0.0553 79.68);
    --color-swamp: oklch(0.8071 0.0974 115.52);
    --color-purple: oklch(0.5079 0.2333 290.57);
}